
.bd{
    width: 50%;
    min-height: 180px;
    margin: 50px;
}

.skills{
   margin: 3%;
  
}

.labels{
    margin: 0%;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;

}
.line{
    margin: 3px;
    margin: 0px 20px 20px 0px;
}
.area{
    min-height: 100px;
    outline: dotted 1px pink ;
    -ms-grid-rows: inherit;
}
input {
    width: 50%;
}

.links{
    text-decoration: underline;
    font-weight: bold;
}

.btns{
    margin: 5px;
    text-align: center;
    font-weight: bold ;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.errors p{
    color: red;
    outline: solid green 2px ;
}

.ang_errors{
    color: darkblue;
    font-weight: bold;
    outline: dotted gray 2px;
}
.options{
    width: 100px;
    background: lightblue;
    text-align: center;
}
.labels.p{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}